body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: auto;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

#sudoku-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border: 1px solid #000;
    overflow: auto;
    margin: 0 auto;
}

#sudoku-container div {
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    border: 1px solid red;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#solutions-container {
    display: none;
    padding: 10px;
    border: 1px solid black;
    overflow: auto;
    max-height: 400px;
}
